.showcase {
  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: cover;
    //background-size: contain;
    //background-repeat: no-repeat;
    //background-position: center;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}

/*
essential styles:
these make the slideshow work
*/

.slides {
  min-height: 380px;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.showing {
  opacity: 1;
  z-index: 2;
}
